* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 90px;
}

.center input {
    width: 300px;
    padding: 8px;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sidebar a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* VIDEO GRID */
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.video-card img {
    width: 100%;
    border-radius: 5px;
}

/* DARK MODE */
.dark {
    background: #f8f5f5;
    color: rgb(245, 232, 232);
}

.dark .sidebar a {
    color: rgb(236, 221, 221);
}

.video-card p{
    color: gray;
    font-size: 14px;

}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .center input {
        width: 180px;
    }
}
